@charset "utf-8";

div{
    margin: 20px,30px,30px,30px;
    width: 100px;
    height: 100px;
    line-height :1.2px;
    background-color: red;
}
p{
    color:red;
    background-color: blue;
    font-weight:bold;
}